* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body {
  background-image: url("../img/background-wood-p2.png");
  background-size: 100% 100vh;
}

.img-slide-left{
  position: relative;
  z-index:100;
}
.img-slide-left-1 {
  position: relative;
  left: -20%;
  z-index: 99;
  transition: 1.5s;
}
.img-slide-left-2 {
  position: relative;
  left: -40%;
  z-index: 98;
  transition: 1.5s;
}
.img-slide-left-2:hover {
  left: -20%;
  transition: 1s;
}
.img-slide-left-1:hover {
  left: 0%;
  transition: 1s;
}

.imgslide-left, .imgslide-left-1, .imgslide-left-2{
  background-image: url(../img/Button-Coffee.png);
  background-size: 451px 322px;
  height: 322px;
  position: relative;
  background-repeat: no-repeat; 
}
.imgslide-left{
  z-index: 100;
}
.imgslide-left-1{
  z-index: 99;
  left: -20%;
  transition: 1s;
}
.imgslide-left-2{
  z-index: 98;
  left: -40%;
  transition: 1s;
}
.imgslide-left > .img-slide, .imgslide-left-1 > .img-slide, .imgslide-left-2 > .img-slide {
  width: 84%;
  position: relative;
  top: 13%;
  left: 8%;
  z-index: -1;
}

.imgslide-left-1:hover, .imgslide-left-2:hover{
  margin-left: 15%;
 }