* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body {
  background-image: url("../img/background-wood-p2.png");
  background-size: 100% 100vh;
}

.img-slide-left{
  position: relative;
  z-index:100;
}
.img-slide-left-1 {
  position: relative;
  left: -20%;
  z-index: 99;
  transition: 1.5s;
}
.img-slide-left-2 {
  position: relative;
  left: -40%;
  z-index: 98;
  transition: 1.5s;
}
.img-slide-left-2:hover {
  left: -20%;
  transition: 1s;
}
.img-slide-left-1:hover {
  left: 0%;
  transition: 1s;
}

.imgslide-left, .imgslide-left-1, .imgslide-left-2, .imgslide-left-3, .imgslide-left-4{
  background-image: url(../img/Button-Coffee1.png);
  background-size: 451px 322px;
  height: 322px;
  position: relative;
  background-repeat: no-repeat; 
}
/* background is over the img tag ----------------------------------------------------------------------*/
/* .imgslide-left:after {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/Button-Coffee1.png);
  opacity: .9;
  background-size: 451px 322px;
  background-repeat: no-repeat; 
} -------------------------------------------------------------------------------------------------------*/

.imgslide-left{
  z-index: 100;
}
/* .imgslide-left-1{
  z-index: 99;
  left: -20%;
  transition: 1s;
}
.imgslide-left-2{
  z-index: 98;
  left: -40%;
  transition: 1s;
}
.imgslide-left-3{
  z-index: 97;
  left: -20%;
  transition: 1s;
} */



.imgslide-left > .img-slide, .imgslide-left-1 > .img-slide, .imgslide-left-2 > .img-slide, .imgslide-left-3 > .img-slide, .imgslide-left-4 > .img-slide  {
  width: 84%;
  position: relative;
  top: 13%;
  left: 8%;
  z-index: -1;
}

.imgslide-left-1:hover, .imgslide-left-2:hover, .imgslide-left-3:hover, .imgslide-left-4:hover{
  margin-left: 15%;
 }

 /* test */
 .imgslide-left-1{
  z-index: 99;
  position: absolute ;
  left: 13%;
  transition: 1s;
}
.imgslide-left-2{
  z-index: 98;
  position: absolute ;
  left: 25%;
  transition: 1s;
}
.imgslide-left-3{
  z-index: 97;
  position: absolute ;
  left: 37%;
  transition: 1s;
}
.imgslide-left-4{
  z-index: 96;
  position: absolute ;
  left: 49%;
  transition: 1s;
}

.coffeebutton {
  background-image: url(../img/testcoffee.jpg);
  background-size: 75%;
  background-position: 13% 45%; 
  width: 20%;
  position: relative;
  background-repeat: no-repeat; 
}
/* doan test code  */
/* .coffeebutton:after {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/Button-Coffee1.png);
  opacity: .9;
  background-size: 358px 322px;
  background-repeat: no-repeat; 
} */

.coffeebutton >.img-test-slide {
  width: 84%;
  position: absolute;
  top: 13%;
  left: 8%;
  z-index: -1;
}